# Do not include the generation scripts
*.bat

# Do not include SQLite database file
*.sqlite3

# Exclude common assets and archives folders
/@assets
/@archives

# Exclude virtual environment folder
/.venv