# Python bytecode
__pycache__

# Log files
*.log

# Database files
.sqlite3
.db

# Virtual environment
/.venv

# Environment variables
.env
.env.*

# Static files
/node_modules
/build
/media
/static
/temp

# Editor configurations
.vscode/chrome
.idea
*.suo
*.sln
